################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Prime-Number-Generator/v15
/Prime-Number-Generator.Tests/obj
/Prime-Number-Generator/obj
/Prime-Number-Generator/bin/Debug/netcoreapp2.1
/Prime-Number-Generator.Tests/bin/Debug/netcoreapp2.1
